.render-container {
  font-size: 12px;
  .render-content {
    position: relative;
    display: flex;
    width: 100vw;
    height: calc(100vh - 32px);
    .render-left-box {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
    }
    .scene-stage {
      position: relative;
      width: calc(100% - 340px);
      height: 100%;
    }
    #scene-render {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  &.is-play {
    .render-header,
    .render-left-box,
    .right-panel-container,
    .world-map {
      display: none !important;
    }
    .render-content {
      height: 100vh;
    }
    .scene-stage {
      width: 100%;
      height: 100%;
    }
  }
}
